{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>View Data</title>
    <link rel="stylesheet" href="{% static 'login/signup.css' %}">
    <!-- Semantic UI -->
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</head>
<body>
  <!-- <form class="ui form" action="/search/" method="post">
    {% csrf_token %}
    <div class="two fields">
      <div class="field">
        <label>Search</label>
        <input type="text" name="srh" placeholder="Search...">
        <button type="submit" class="ui submit button">Search</button>
      </div>
    </div>
  </form> -->
  <br><h1>List Marker</h1>
  <div class="container">
	    {% if messages %}
      <ul>
        {% for k in messages %}
        <li style="color:red">{{k}}</li>
        {% endfor %}
      </ul>
      {% endif %}
  </div><br>
  {% if sr %}
  <table class="ui single line table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    {% for k in sr %}
    <tr>
      <td>{{k.name}}</td>
      <td>{{k.lat}}</td>
      <td>{{k.lng}}</td>
      <td>{{k.address}}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
</body>
</html>
